application:
  title: Known authors
  fields:
    name:
      type: text
      required: true
    surname:
      type: text
      required: true
    books:
      type: number
      source: count_books
    average_score:
      source: avg_score
      _transform:
        number:
          round: round
          round_precision: 1

  meta:
    exposes: [name, surname]

  sources:
    count_books:
      application: books
      function: count
    avg_score:
      application: books
      function: avg
      invert_join: true
      field: rating