application:
    name: cooking

    fields:
        photo:
            type: image
            required: false
        course:
            type: choice
            options: [breakfast, lunch, dinner, dessert, snack]
        name:
            type: text
            required: true
        source:
            type: choice
            options:
                - book
                - magazine
                - web
        issue:
            type: text
            required: false
            dashboard:
                visibility: large
        author:
            type: text
            required: false
            dashboard:
                visibility: detail
        link:
            type: url
            required: false
        ingredients:
            type: textbox
            required: false
            dashboard:
                visibility: detail
        recipe:
            type: textbox
            required: false
            dashboard:
                visibility: detail

    meta:
        exposes: [name, source]
        sort: [name]
