.wiki
.idea
.env.local

.docker/**/*
!.docker/nginx/default.conf

/public/build/
/public/media/
/node_modules

/vendor/
/var/

# USER GENERATED CONTENT
/user/assets/*
/user/config/*.yaml
/user/config/applications/*.yaml
/user/config/framework/*.yaml
/user/extensions/*
/user/templates/*
/user/translations/*
/user/README.md

!*.dist
!.gitignore
/composer.phar
