{% extends 'default.html.twig' %}

{% block content_header %}
    {% if app.request.pathinfo != '/' %}
        <div class="d-flex justify-content-between">
            <h2>{% block dashboard_title %}{% endblock %}</h2>
            <div class="btn-group h-50">
                {% block dashboard_prev %}{% endblock %}

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="d-none d-md-inline-flex">
                        {% block dashboard_links %}{% endblock %}
                    </div>

                    <div class="dropdown d-md-none">
                        <a class="dropdown-toggle btn btn-primary" data-bs-toggle="dropdown" aria-labelledby="dropdown-dashboard" role="button" title="{{ 'label.tools'|trans }}">
                            <i class="fa fa-tools"></i>
                        </a>
                        <div id="dropdown-dashboard" class="dropdown-menu">
                            {{ block('dashboard_links') }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="{{ unchained.dashboard.show_app_stack and unchained.dashboard.style == 'block' ? 'container' : 'row' }}">
        {% for catId, category in applications %}
            {% if unchained.dashboard.style == 'block' %}
                {% include "main/blocks/category_block.html.twig" %}

                {# Simulate category block with uncategorized applications #}
                {% if catId == '_default' %}
                    {% for catId, category in category.applications %}
                        {% include "main/blocks/category_block.html.twig" with {include_apps: false, title: category.config.meta.title} %}
                    {% endfor %}
                {% endif %}

            {% else %}
                <div class="col-12 col-md-6 cat-group">
                    {% include "main/blocks/category_link.html.twig" %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
