{% extends 'main/dashboard.html.twig' %}
{% trans_default_domain category.translation_domain %}

{% block title %}
    {{ parent() }} - {{ category.label|trans }}
{% endblock %}

{% block content_header %}
    <h2>{{ category.label|trans }}</h2>
    <p>{{ category.description|trans }}</p>
{% endblock %}

{% block content %}
    <div class="apps row justify-content-between">
        {% for application in applications[category.categoryId]['applications'] %}
            {% if unchained.dashboard.style == 'block' %}
                {% include "main/blocks/application_block.html.twig" %}
            {% else %}
                <div class="cat-group col-12 col-md-6">
                    {% include "main/blocks/application_link.html.twig" %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}