{% if unchained.navigation.show_home ?? true %}
    {% apply spaceless %}
        <li>
            <a href="/">
                {% if unchained.navigation.home_icon %}
                    <i class="{{ unchained.navigation.home_icon }}"></i>
                {% endif %}
                {% if unchained.navigation.home_icon and not unchained.navigation.home_icon_only %}
                {{ 'Home'|trans }}
                {% endif %}
            </a>
        </li>
    {% endapply %}
{% endif %}