{% if app.request.pathInfo != '/login' %}
<li class="login">
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="nav-link" href="{{ url('admin_login') }}"><i class="fa-solid fa-right-to-bracket"></i></a>
    {% else %}
        <a class="nav-link" href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
    {% endif %}
</li>
{% endif %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<li class="nav-item refresh">
    <a class="nav-link" href="{{ url('dash_refresh') }}" title="{{ 'reload config' | trans }}"><i class="fa-solid fa-rotate"></i></a>
</li>
{% endif %}

{% if unchained.navigation.show_theme_switcher %}
    {% include "/navigation/theme_select.html.twig" %}
{% endif %}
