$brand-primary: #16064B;
$primary: #117;
$secondary: #7E4B17;
$danger: #9E0031;
$success: #A8C686;
$lightgray: #ccc;

$font-family-base: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

//@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-select/sass/bootstrap-select";
@import "~bootstrap5-toggle/css/bootstrap5-toggle.min.css";
@import "~flag-icon-css/sass/flag-icon";

[class$="-brand-primary"] {
  background-color: $brand-primary;
}
